:root {
    --green: #0dff00;
    --black: #000000;
    --blackBg: #0e0e10;
    --white: #ffffff;
    --lightBlue: rgb(0, 98, 255);
}

* {
    color: var(--fontColor);
}

h1 {
    color: var(--titleColor);
    font-family: Roobert, Inter, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    padding-bottom: 2%;
    border-bottom: 2px solid var(--titleBorderColor);
}

p {
    font-family: 'Raleway', sans-serif;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 18px;
    text-align: center;
}

body {
    background-color: var(--bg);
}

button {
    background-color: var(--btnsColor);
    color: var(--btnsFontColor);
    font-family: 'Raleway', sans-serif;
    border: var(--btnsBorder);
    border-radius: 1rem;
}

button:focus  {outline-style: none;}

.highlight {
    background-color: var(--highlightedColor);
    text-decoration: var(--highlightedDecoration);
}

.error {
    background-color: lightcoral;
    border: red;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --titleColor: var(--lightBlue);
    --highlightedColor: yellow;
    --btnsBorder: 2px solid var(--lightBlue);
    --titleBorderColor: var(--lightBlue);
    --iconsColor: var(--lightBlue);
}

.dark-theme {
    --bg: var(--blackBg);
    --fontColor: var(--white);
    --titleColor: var(--green);
    --btnsColor: var(--green);
    --btnsFontColor: var(--black);
    --btnsBorder: none;
    --typedValueColor: var(--black);
    --highlightedColor: var(--bg);
    --highlightedDecoration: underline yellow 2px;
    --titleBorderColor: var(--green);
    --iconsColor: var(--black);
}

.material-icons-outlined.colored {
    color: var(--iconsColor);
}

#typed-value {
    margin-bottom: 0.7%;
}

#start-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#theme-button {
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 4px 8px;
}

#typed-value {
    color: var(--typedValueColor);
}