:root {
    --green: #0dff00;
    --black: #000000;
    --white: #ffffff;
    --lightBlue: rgb(0, 98, 255);
}

* {
    color: var(--fontColor);
}

h1 {
    color: var(--titleColor);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 18px;
}

body {
    background-color: var(--bg);
}

button {
    background-color: var(--btnsColor);
    color: var(--btnsFontColor);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: var(--btnsBorder);
}

button:focus  {outline-style: none;}

.highlight {
    background-color: var(--highlightedColor);
    text-decoration: var(--highlightedDecoration);
}

.error {
    background-color: lightcoral;
    border: red;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --titleColor: var(--lightBlue);
    --highlightedColor: yellow;
    --btnsBorder: 2px solid var(--lightBlue);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --titleColor: var(--green);
    --btnsColor: var(--green);
    --btnsFontColor: var(--black);
    --btnsBorder: none;
    --typedValueColor: var(--black);
    --highlightedColor: var(--bg);
    --highlightedDecoration: underline yellow 2px;
}

#theme-button {
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 1rem;
    padding: 4px 8px;
}

#typed-value {
    color: var(--typedValueColor);
}